<p id="notice"><%= notice %></p>

<h1>Pphrases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pphrases.each do |pphrase| %>
      <tr>
        <td><%= link_to 'Show', pphrase %></td>
        <td><%= link_to 'Edit', edit_pphrase_path(pphrase) %></td>
        <td><%= link_to 'Destroy', pphrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pphrase', new_pphrase_path %>
