= simple_form_for @substance do |f|
  - if @substance.errors.any?
    #errors
      %p
        = @substance.errors.count
        Prevented this substance from saving
      %ul
        - @substance.errors.full_messages.each do |msg|
          %li = msg
  .panel.panel-default
    .panel-body
      = f.input :title, tooltip: "Gefahrstoffbezeichnung", wrapper: :field4
      = f.association :company, required: false, include_blank: false, wrapper: :field4
      = f.input :date, :as => :date_picker, wrapper: :field4
      = f.input :application, input_html: { class: 'form-control' }, wrapper_html: { title: 'application' }, wrapper: :field12
      = f.input :hazard_symbol_ids, :as => :check_boxes, wrapper: :field12, label: "Gefahrensymbol" do
        .row
        = f.collection_check_boxes :hazard_symbol_ids, HazardSymbol.all, :id, :code do |b|
          = b.label(class: "check_box", title: b.object.code + ": " + b.object.description) { b.check_box + b.object.code + image_tag("hazard_img/" + b.object.image, size: "50x50") }
      = f.input :pphrase_ids, :as => :check_boxes, wrapper: :field12, label: "R-S채tze" do
        .row
        = f.collection_check_boxes :rphrase_ids, Rphrase.order(:title), :id, :title do |b|
          = b.label(title: b.object.title + ": " + b.object.description) { b.check_box + b.text }
      = f.input :protectionlevel, collection: ["I", "II", "III", "IV"], wrapper: :field2
      .row
      = f.input :ghs_symbol_ids, :as => :check_boxes, wrapper: :field12, label: "GHS-Symbol" do
        .row
        = f.collection_check_boxes :ghs_symbol_ids, GhsSymbol.all, :id, :code do |b|
          = b.label(class: "check_box", title: b.object.code + ": " + b.object.description) { b.check_box + image_tag("ghs_img/" + b.object.image, size: "50x50") }
      = f.input :signalword, wrapper: :field2
      = f.input :pphrase_ids, :as => :check_boxes, wrapper: :field12, label: "H-S채tze" do
        .row
        = f.collection_check_boxes :hphrase_ids, Hphrase.order(:title), :id, :title do |b|
          = b.label(title: b.object.title + ": " + b.object.description) { b.check_box + b.text }
      = f.input :pphrase_ids, :as => :check_boxes, wrapper: :field12, label: "P-S채tze" do
        .row
        = f.collection_check_boxes :pphrase_ids, Pphrase.order(:title), :id, :title do |b|
          = b.label(title: b.object.title + ": " + b.object.description) { b.check_box + b.text }
      .row
      .form-group.col-md-4
        %strong Gef채hrdungen
        = f.input :inhalation
        = f.input :dermale
        %strong Angaben zum Transport
      .row
      = f.input :unnumber, wrapper: :field2
      = f.input :classificationcode, wrapper: :field2
      = f.input :packinggroup, collection: ["I", "II", "III"], wrapper: :field2
      = f.input :transportcategory, collection: 1..3, wrapper: :field2
      = f.input :qmax, :as => :string, wrapper: :field2
      .row
      .col-md-4
        = f.button :submit, class: "btn btn-primary", tooltip: "H-Satz"
