.container-fluid
  = form_tag(substances_path, method: :get) do
    .row
      .col-md-3
        .input-group
          = text_field_tag :term, params[:term], placeholder: t('Search')+('...'), class: "form-control"
          .input-group-btn
            = button_tag 'Search', name: nil, class: "btn btn-default btn" do
              %span.glyphicon.glyphicon-search
    %br

    .row
      .col-md-12
        .panel.panel-default
          .panel-body
            %table.table.table-striped#substance-table
              %thead
                %tr
                  %th.col-md-1= t('title')
                  %th.col-md-1= t('company')
                  %th Datum
                  %th.col-md-2= t('application')
                  %th.col-md-1= t('hazard symbol')
                  %th.col-md-1= t('R-Phrase')
                  %th= t('protectionlevel')
                  %th.col-md-1= t('GHS-Symbol')
                  %th= t('signalword')
                  %th.col-md-1= t('H-Phrase')
                  %th.col-md-1= t('P-Phrase')
                  %th
                  %th
              %tbody
                - @substance.each do |substance|
                  = render 'substance_row', substance: substance
