<p id="notice"><%= notice %></p>

<h1>Hphrases</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hphrases.each do |hphrase| %>
      <tr>
        <td><%= hphrase.title %></td>
        <td><%= hphrase.description %></td>
        <td><%= link_to 'Show', hphrase %></td>
        <td><%= link_to 'Edit', edit_hphrase_path(hphrase) %></td>
        <td><%= link_to 'Destroy', hphrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hphrase', new_hphrase_path %>
